<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">


</head>
<!--Script in pagina perchè non è possibile utilizzare i tag ThymeLeaf in file js esterni-->
<script th:inline="javascript"></script>
<body>

<br>

<div class="container mb-20">
    <div class="row">
        <div class="col-3">
            <a th:href="@{/bo/anagraficaaziende/lista}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-arrow-left-circle}"></use>
             </svg>
        </span>
                <span>Torna alla lista</span>
            </a>
        </div>
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Dettaglio Anagrafica Azienda</h5>
                        <br>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Ragione Sociale:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.ragioneSociale)}">:</p></i>
                            </div>

                            <div class="col-4">
                                <b><p>C.F. / P. IVA:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.partitaIva)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Data Atto di Costituzione:</p></b>
                                <i><p th:if="anagrafica.dataAttoDiCostituzione != null" th:text="${#dates.format(anagrafica.dataAttoDiCostituzione, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="anagrafica.dataAttoDiCostituzione == null" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Nome e Cognome Referente:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.nomeReferente)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Tel.:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.numeroTelefono)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Fax:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.fax)}">:</p></i>
                            </div>
                        </div>

                        <hr>

                        <h6>Sede Legale:</h6>
                        <br>
                        <div class="form-row">

                            <div class="col-4">
                                <b><p>Comune Sede Legale:</p></b>
                                <i><p th:if="${anagrafica.comuneSedeLegale != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.comuneSedeLegale.nome)}">:</p></i>
                                <i><p th:if="${anagrafica.comuneSedeLegale == null}" th:text="'Nessun Comune inserito'">:</p></i>
                            </div>
                            <div class="col-6">
                                <b><p>Indirizzo Sede Legale:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.indirizzoSedeLegale)}">:</p></i>
                            </div>
                            <div class="col-2">
                                <b><p>CAP Sede Legale:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.capSedeLegale)}">:</p></i>
                            </div>
                        </div>
                        <hr>
                        <h6>Tipologia Azienda / Società:</h6>
                        <br>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Tipo di Società:</p></b>
                                <i><p th:if="${anagrafica.tipologiaAzienda != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.tipologiaAzienda.nomeTipologia)}">:</p></i>
                                <i><p th:if="${anagrafica.tipologiaAzienda == null}" th:text="'Nessun Valore inserito'">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>E-mail:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.email)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>PEC mail:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.emailPec)}">:</p></i>
                            </div>

                        </div>
                        <br>
                        <hr>
                        <h6>Documento Camera di Commercio:</h6>

                        <br>

                        <div class="form-row">


                            <div class="col-8">
                                <b><p>Documento:</p></b>
                                <i><p th:if="${anagrafica.caDocumentoAzienda != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.caDocumentoAzienda.nomeDocumentoAziendaFile)}">:</p></i>
                                <i><p th:if="${anagrafica.caDocumentoAzienda == null}" th:text="'Nessun Valore inserito'">:</p></i>
                            </div>

                            <div class="col-4">
                                <b><p>Data Iscrizione Camera di
                                    Commercio:</p></b>
                                <i><p th:if="${anagrafica.caDocumentoAzienda != null and anagrafica.caDocumentoAzienda.dataIscrizioneCameraCommercio != null}" th:text="${#dates.format(anagrafica.caDocumentoAzienda.dataIscrizioneCameraCommercio, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="${anagrafica.caDocumentoAzienda == null or anagrafica.caDocumentoAzienda.dataIscrizioneCameraCommercio == null}" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
