<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">


</head>
<!--Script in pagina perchè non è possibile utilizzare i tag ThymeLeaf in file js esterni-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var addressAjaxComuni = /*[[@{/getComuni}]]*/ null;
    var anag = /*[[${anagrafica}]]*/ null;
    // var index = /*[[${indexRiga}]]*/ 0;
    var titoli = anag.caAnagraficaTitolostudios;
    /*]]>*/
    $(document).ready(function () {
        $('.it-date-datepicker').datepicker({
            inputFormat: ["dd/MM/yyyy"],
            outputFormat: 'dd/MM/yyyy',
        });
    });

</script>
<script th:src="@{/js/sildifesa/insertAnagraficaAziende.js}" th:inline="javascript"></script>
<body>

<br>
<div class="container mb-20">
    <div id="erroreDiv" hidden>
        <div class="alert alert-danger" role="alert">
            <b id="errore"></b>
        </div>
    </div>
</div>

<div class="container mb-20">
    <div class="row">
        <div class="col-3">
            <a th:href="@{/bo/anagraficaaziende/lista}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-arrow-left-circle}"></use>
             </svg>
        </span>
                <span>Torna alla lista</span>
            </a>
        </div>
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Modifica Anagrafica Azienda</h5>
                        <br>
                        <form th:action="@{/bo/anagraficaaziende/eseguiModifica}" th:object="${angraficaAzienda}"
                              method="post" enctype="multipart/form-data">
                            <input type="hidden" th:field="*{id}">
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="ragioneSociale">Ragione Sociale*</label>
                                        <input type="text" class="form-control" th:field="*{ragioneSociale}"
                                               id="ragioneSociale">
                                        <b th:if="${#fields.hasErrors('ragioneSociale')}" class="text-red"
                                           th:errors="*{ragioneSociale}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="partitaIva">C.F. / P. IVA*</label>
                                        <input type="text" class="form-control" th:field="*{partitaIva}"
                                               id="partitaIva">><<
                                        <b th:if="${#fields.hasErrors('partitaIva')}" class="text-red"
                                           th:errors="*{partitaIva}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper" style="width: 100% !important;">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="dataAttoDiCostituzione"
                                                   type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataAttoDiCostituzione}">
                                            <label for="dataAttoDiCostituzione">Data Atto di Costituzione</label>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="nomeReferente">Nome e Cognome Referente*</label>
                                        <input type="text" class="form-control" id="nomeReferente"
                                               th:field="*{nomeReferente}">
                                        <b th:if="${#fields.hasErrors('nomeReferente')}" class="text-red"
                                           th:errors="*{nomeReferente}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="numeroTel">Tel.*</label>
                                        <input type="text" class="form-control" th:field="*{numeroTelefono}"
                                               id="numeroTel">
                                        <b th:if="${#fields.hasErrors('numeroTelefono')}" class="text-red"
                                           th:errors="*{numeroTelefono}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="fax">Fax</label>
                                        <input type="text" class="form-control" th:field="*{fax}"
                                               id="fax">
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <h6>Sede Legale:</h6>
                            <br>
                            <div class="form-row">

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="comuneSedeLegaleInput">Comune Sede Legale*</label>
                                        <input onblur="chiudiComune()" th:field="*{comuneSedeLegale.nome}"
                                               class="form-control"
                                               type="text" id="comuneSedeLegaleInput"
                                               name="comuneSedeLegale"
                                               onkeyup="ajaxComuneSedeLegale('comuneSedeLegale')" autocomplete="off">
                                        <input id="comuneSedeLegaleId" type="hidden" name="comuneSedeLegale"
                                               th:field="*{comuneSedeLegale.id}">
                                        <input id="comuneSedeLegaleCodice" type="hidden">
                                        <div class="border divajax  overflow-auto" hidden id="suggesstion-box"></div>

                                        <b th:if="${#fields.hasErrors('comuneSedeLegale.id')}" class="text-red"
                                           th:errors="*{comuneSedeLegale.id}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="indirizzoSedeLegale">Indirizzo Sede Legale*</label>
                                        <input type="text" class="form-control" th:field="*{indirizzoSedeLegale}"
                                               id="indirizzoSedeLegale">
                                        <b th:if="${#fields.hasErrors('indirizzoSedeLegale')}" class="text-red"
                                           th:errors="*{indirizzoSedeLegale}"> Error </b>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="capSedeLegale">CAP Sede Legale*</label>
                                        <input type="number" th:maxlength="5" class="form-control"
                                               th:field="*{capSedeLegale}"
                                               id="capSedeLegale">
                                        <b th:if="${#fields.hasErrors('capSedeLegale')}" class="text-red"
                                           th:errors="*{capSedeLegale}"> Error </b>
                                    </div>
                                </div>

                            </div>


                            <hr>

                            <h6>Tipologia Azienda / Società:</h6>
                            <br>
                            <div class="form-row">

                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label for="formaGiuridica">Tipo di Società*</label>
                                        <select id="formaGiuridica" th:field="*{tipologiaAzienda.id}"
                                                title="Scegli una opzione"
                                                class="form-control">
                                            <option th:each="tipo : ${tipologieAzienda}"
                                                    th:value="${tipo.id}"
                                                    th:utext="${tipo.nomeTipologiaBreve != null?tipo.nomeTipologiaBreve + ' ('+ tipo.nomeTipologia + ')':tipo.nomeTipologia}">
                                                Tipo Azienda
                                            </option>
                                            <b th:if="${#fields.hasErrors('tipologiaAzienda.id')}" class="text-red"
                                               th:errors="*{tipologiaAzienda.id}"> Error</b>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">

                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input type="email" class="form-control" th:field="*{email}"
                                               id="email">
                                        <b th:if="${#fields.hasErrors('email')}" class="text-red"
                                           th:errors="*{email}">
                                            Error
                                        </b>

                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="pec">PEC mail</label>
                                        <input type="email" class="form-control" th:field="*{emailPec}"
                                               id="pec">
                                        <b th:if="${#fields.hasErrors('emailPec')}" class="text-red"
                                           th:errors="*{emailPec}">
                                            Error
                                        </b>

                                    </div>
                                </div>

                            </div>
                            <br>
                            <hr>
                            <h6>Caricamento Documento Camera di Commercio:</h6>

                            <br>

                            <div class="form-row">


                                <div class="col-8">
                                    <div class="form-group">

<!--                                        <label>Carica Documento Camera Commercio</label>-->
                                        <input id="file" type="file" name="file">
                                        <p id="pFile" th:text="*{'File presente: ' +caDocumentoAzienda.nomeDocumentoAziendaFile}">
                                            <a type="button" class="btn btn-primary text-white">Elimina</a></p>
                                        <input id="hiddenFile" type="hidden" th:field="*{caDocumentoAzienda.id}">
                                        <b th:if="${error != null}"
                                           class="text-red"
                                           th:text="${error}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="it-datepicker-wrapper" style="width: 100% !important;">
                                        <input class="form-control it-date-datepicker"
                                               id="dataIscrizioneCameraCommercio"
                                               type="text"
                                               placeholder="gg/mm/aaaa"
                                               th:field="*{caDocumentoAzienda.dataIscrizioneCameraCommercio}">
                                        <label for="dataIscrizioneCameraCommercio">Data Iscrizione Camera di
                                            Commercio</label>
                                        <b th:if="${#fields.hasErrors('caDocumentoAzienda.dataIscrizioneCameraCommercio')}"
                                           class="text-red"
                                           th:errors="*{caDocumentoAzienda.dataIscrizioneCameraCommercio}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <button th:type="submit" class="btn btn-primary">Modifica</button>
                        </form>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
