<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<script>
    $(document).ready(function () {
        $('.it-date-datepicker').datepicker({
            inputFormat: ["dd/MM/yyyy"],
            outputFormat: 'dd/MM/yyyy',
        });
    });
</script>
<br>
<div class="container mb-20">
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Inserimento Grado Militare</h5>
                        <br>
                        <form th:action="@{/bo/grado/eseguiInserimentoGrado}" th:object="${grado}"
                              method="post">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="nome">Nome Grardo Militare*</label>
                                        <input type="text" class="form-control" th:field="*{nome}" id="nome">
                                        <p th:if="${#fields.hasErrors('nome')}" class="pl-2 text-danger"
                                           th:errors="*{nome}">
                                            Error
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="codice">Codice Grardo Militare*</label>
                                        <input type="text" class="form-control" th:field="*{codice}" id="codice">
                                        <p th:if="${#fields.hasErrors('codice')}" class="pl-2 text-danger"
                                           th:errors="*{codice}">
                                            Error
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="sigla">Sigla*</label>
                                        <input type="text" maxlength="2" class="form-control" th:field="*{sigla}" id="sigla">
                                        <p th:if="${#fields.hasErrors('sigla')}" class="pl-2 text-danger"
                                           th:errors="*{sigla}">
                                            Error
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group bootstrap-select-wrapper">

                                        <label>Forza Armata</label>

                                        <select id="forzaArmata" th:field="*{forzaArmata}"
                                                title="Seleziona una Forza Armata">
                                            <option
                                                    th:value="A.M."
                                                    th:utext="A.M.">FORZA ARMATA
                                            </option>
                                            <option
                                                    th:value="C.C."
                                                    th:utext="C.C.">FORZA ARMATA
                                            </option>
                                            <option
                                                    th:value="E.I."
                                                    th:utext="E.I.">FORZA ARMATA
                                            </option>
                                            <option
                                                    th:value="M.M."
                                                    th:utext="M.M.">FORZA ARMATA
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <span>
                                <button th:type="submit" class="btn btn-primary">Inserisci</button>
                                 <a th:type="button" th:href="@{/bo/grado/listaGrado}" class="btn btn-outline-primary">Indietro</a>
                            </span>
                        </form>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
