<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>

<br>
<div class="container mb-20">
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Aggiorna Comuni Automaticamente da "ISTAT"
                        </h5>
                        <p>Cliccando su "Aggiorna" il sistema aggiornerà i Comuni in base alle informazioni reperite
                            dall' "Istituto Nazionale di Statistica".</p><br>
                        <a type="button" class="btn btn-primary text-white" th:href="@{/bo/gestioneSistema/eseguiAutoAggiornamentoComuni}">Aggiorna
                            <svg class="icon icon-light icon-sm justify-content-around">
                                <use th:href="@{/svg/sprite.svg#it-download}"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
