<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
    <script>
    </script>
</head>
<body>
<script th:inline="javascript"></script>
<br>
<div class="container mb-20">
    <div th:if="${error}" >
        <div class="alert alert-danger" role="alert">
            <b th:text="${error}"></b>
        </div>
    </div>
    <div th:if="${confirm}" >
        <div class="alert alert-success" role="alert">
            <b th:text="${confirm}"></b>
        </div>
    </div>
    <a th:href="@{/bo/gestioneUtenti/inserisciUtente}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-user}"></use>
             </svg>
        </span>
        <span>Inserisci Utente</span>
    </a>
    <br>
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">

                        <h5 class="card-title">Utenti</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Azioni</th>
                                <th scope="col">Nome e Cognome</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Ultimo Accesso</th>
                                <th scope="col">Attivo</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="utente : ${listaUtenti}">
                                <td class="text-center">
                                    <div class="inline-td">
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true" title="Modifica">
                                             <a th:href="@{/bo/gestioneUtenti/modificaUtente(id=${utente.id})}" class="nounderline"
                                                title="Modifica">
                                                 <svg class="icon icon-primary icon-m">
                                                     <use th:href="@{/svg/sprite.svg#it-pencil}"></use>
                                                </svg>
                                             </a>
                                    </span>
                                        <span data-container="body" data-toggle="popover" data-trigger="hover"
                                              data-placement="right" data-html="true" title="Elimina">
                                            <a class="nounderline apriModale" href="#modaleConfermaElimina"
                                               th:data-id="@{/bo/gestioneUtenti/eliminaUtente(id=${utente.id})}"
                                               data-toggle="modal" data-target="#modaleConfermaElimina"  >
                                                <svg class="icon icon-danger icon-m">
                                                    <use th:href="@{/svg/sprite.svg#it-delete}"></use>
                                                </svg>
                                            </a>
                                    </span>
                                        <span data-container="body" data-toggle="popover" data-trigger="hover"
                                              data-placement="right" data-html="true" title="Dettaglio">
                                        <a th:href="@{/bo/gestioneUtenti/dettaglioUtente(id=${utente.id})}" class="nounderline"
                                           title="Dettaglio">
                                            <svg class="icon icon-primary icon-m">
                                                <use th:href="@{/svg/sprite.svg#it-info-circle}"></use>
                                            </svg>
                                        </a>
                                    </span>
                                    </div>
                                </td>
                                <td th:text="${utente.nome + ' ' + utente.cognome}"></td>
                                <td th:text="${utente.username}"></td>
                                <td th:text="${utente.email}"></td>
                                <td th:datetime="${utente.dataUltimoAccesso}" ></td>
                                <td th:text="${utente.abilitato} ? 'Si' : 'No'"></td>
                            </tr>


                            </tbody>
                        </table>
                        <div th:insert="fragments/utility::paging ('/bo/gestioneUtenti/lista')">...</div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog"  id="modaleConfermaElimina">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conferma elimina</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <svg class="icon">
                        <use th:href="@{/svg/sprite.svg#it-close}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare questo elemento?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Annulla</button>
                <a id="linkModale" class="btn btn-danger btn-sm" type="button">Elimina</a>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>


<script>
    $(document).on("click", ".apriModale", function () {
        var idArma = $(this).data('id');
        $("#linkModale").attr('href', idArma);
    });

    // filtro per ricerca
    $(document).ready(function(){
        $('#buttonFiltro').click(function(){
            $('#formFiltro').toggle(400, function(){
                if(document.getElementById("buttonFiltro").innerHTML == "Mostra Filtri"){
                    document.getElementById("buttonFiltro").innerHTML = "Nascondi Filtri";
                }
                else {
                    document.getElementById("buttonFiltro").innerHTML = "Mostra Filtri";
                }
                ;
            });
        });
    });
</script>
</body>
</html>
