<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">


</head>
<script th:inline="javascript">

</script>
<body>

<br>
<div class="container mb-20">
    <div id="erroreDiv" hidden>
        <div class="alert alert-danger" role="alert">
            <b id="errore"></b>
        </div>
    </div>
</div>

<div class="container mb-20">
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Dettaglio Offerta Lavorativa</h5>
                        <br>
                        <div class="form-row">
                            <div class="col-8">
                                <b><p>Titolo Offerta:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.descrizione)}">
                                        :</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Numero Posti:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.numeroPosti)}">
                                        :</p></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-8">
                                <b><p>Descrizione Offerta Lavorativa:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.descrizioneofferta)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Data:</p></b>
                                <i><p th:if="${offerta.data != null}" th:text="${#dates.format(offerta.data, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="${offerta.data == null}" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Settore Contratto:</p></b>
                                <i><p th:if="${offerta.settoreContratto != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.settoreContratto.nome)}">:</p></i>
                                <i><p th:if="${offerta.settoreContratto == null}" th:text="'Nessun valore inserito'">:</p></i></div>
                            <div class="col-4">
                                <b><p>Tipologia Contratto:</p></b>
                                <i><p th:if="${offerta.laOffertaTipoContratti == null}" th:text="'Nessun valore inserito'">:</p></i>
                                <i><p th:if="${offerta.laOffertaTipoContratti != null}"><span th:each="contratto : ${offerta.laOffertaTipoContratti}" th:text="${contratto.nome}+', '"></span></p></i>
                            </div>


                            <div class="col-4">
                                <b><p>Azienda:</p></b>
                                <i><p th:if="${offerta.azienda != null}"
                                      th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.azienda.ragioneSociale)}">
                                    :</p></i>
                                <i><p th:if="${offerta.azienda == null}" th:text="'Nessun valore inserito'">:</p></i>
                            </div>
                        </div>
                        <br><br>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Titolo Studio Minimo Richiesto:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).titoloStudioUtil(offerta.titoloStudioRichiesto)}">
                                        :</p></i>
                            </div>

                            <div class="col-8">
                                <b><p>Professione:</p></b>
                                <i><p th:if="${offerta.professione != null}"
                                      th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.professione.nome)}">
                                    :</p></i>
                                <i><p th:if="${offerta.professione == null}" th:text="'Nessun valore inserito'">:</p>
                                </i></div>
                        </div>
                        <br><br>


                        <div class="form-row">
                            <div class="col-8">
                                <b><p>Competenze Richieste:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.competenzeRichieste)}">
                                        :</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Compenso Mensile:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.compensoMensile)}">
                                        :</p></i>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Comune:</p></b>
                                <i><p th:if="${offerta.localitaSedeOfferta != null}"
                                      th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.localitaSedeOfferta.nome)}">
                                    :</p></i>
                                <i><p th:if="${offerta.localitaSedeOfferta == null}" th:text="'Nessun Comune inserito'">
                                    :</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Sede:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.sede)}">
                                        :</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>CCNL Applicato:</p></b>
                                <i>
                                    <p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(offerta.cccnlApplicato)}">
                                        :</p></i>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
