<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<script>
    $(document).ready(function () {
        $('.it-date-datepicker').datepicker({
            inputFormat: ["dd/MM/yyyy"],
            outputFormat: 'dd/MM/yyyy',
        });
    });
</script>
<br>
<div class="container mb-20">
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Modifica Supporto Forze Armate</h5>
                        <br>
                        <form th:action="@{/bo/supportoFa/eseguiModificaSupportoFa}" th:object="${supportoFa}"
                              method="post">
                            <input type="hidden" th:field="*{id}" th:value="${supportoFa.id}"/>
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="nome">Nome Supporto Forze Armate*</label>
                                        <input type="text" class="form-control" th:field="*{nome}" id="nome">
                                        <p th:if="${#fields.hasErrors('nome')}" class="pl-2 text-danger"
                                           th:errors="*{nome}">
                                            Error
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <span>
                                <button th:type="submit" class="btn btn-primary">Modifica</button>
                                 <a th:type="button" th:href="@{/bo/supportoFa/listaSupportoFa}" class="btn btn-outline-primary">Indietro</a>
                            </span>
                        </form>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
