<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>

<br>
<script>
    $(document).on("click", ".apriModale", function () {
        var id = $(this).data('id');
        $("#linkModale").attr('href', id);
    });
</script>
<div class="container mb-20">
    <div th:if="${error}">
        <div class="alert alert-danger" role="alert">
            <b th:text="${error}"></b>
        </div>
    </div>
    <div th:if="${confirm}">
        <div class="alert alert-success" role="alert">
            <b th:text="${confirm}"></b>
        </div>
    </div>
    <a th:href="@{/bo/naturaGiuridica/inserisciNaturaGiuridica}" class="btn btn-primary btn-icon" style="margin-bottom: 20px;">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-plus}"></use>
             </svg>
        </span>
        <span>Inserisci Natura Giuridica</span>
    </a>
    <br>
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Lista nature giuridiche</h5>


                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Azioni</th>
                                <th scope="col">Nome</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="naturaGiuridica, iStat : ${lista.content}">
                                <td class="text-center">
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true"  title="Modifica">
                                             <a th:href="@{/bo/naturaGiuridica/modificaNaturaGiuridica(id=${naturaGiuridica.id})}" class="nounderline"
                                                title="Modifica">
                                                 <svg class="icon icon-primary icon-m">
                                                    <use th:href="@{/svg/sprite.svg#it-pencil}"></use>
                                                </svg>
                                             </a>
                                    </span>
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true" title="Elimina">
                                            <a class="nounderline apriModale" href="#modaleConfermaElimina"
                                               th:data-id="@{/bo/naturaGiuridica/eliminaNaturaGiuridica(id=${naturaGiuridica.id})}"
                                               data-toggle="modal" data-target="#modaleConfermaElimina">
                                                <svg class="icon icon-danger icon-m">
                                                    <use th:href="@{/svg/sprite.svg#it-delete}"></use>
                                                </svg>
                                            </a>
                                    </span>


                                </td>
                                <td th:text="${naturaGiuridica.nome}"/>

                            </tr>
                            </tbody>
                        </table>

                        <div th:insert="fragments/utility::paging ('/bo/naturaGiuridica/listaNaturaGiuridica')">...</div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>

    </div>
</div>


<!-- Modal -->


<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modaleConfermaElimina">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conferma elimina</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <svg class="icon">
                        <use th:href="@{/svg/sprite.svg#it-close}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare questo elemento?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Annulla</button>
                <a id="linkModale" class="btn btn-danger btn-sm" type="button">Elimina</a>
            </div>
        </div>
    </div>
</div>


<footer th:insert="fragments/footer :: footer" ></footer>


<!--<script src="/static/js/bootstrap-italia.bundle.min.js?201910210959"></script>-->

</body>
</html>
