<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="header">
    <title th:text="SILDifesa"></title>
    <link rel="shortcut icon" th:href="@{/img/favicon-difesa.png}" type="image/vnd.microsoft.icon" id="favicon" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/bootstrap-italia.min.css" th:href="@{/css/bootstrap-italia.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/all.css" th:href="@{/css/all.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/sild.css" th:href="@{/css/sild.css}"/>


    <script  th:inline="javascript">
        var address = /*[[@{/fonts}]]*/ null;
        window.__PUBLIC_PATH__ = address
    </script>


    <div class="it-header-wrapper">
        <div class="it-header-slim-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="it-header-slim-wrapper-content">
                            <a class="d-none d-lg-block navbar-brand" href="https://www.difesa.it/">Ministero della Difesa</a>
                            <div class="nav-mobile">
                                <nav>
                                    <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu-principale"
                                       role="button" aria-expanded="false" aria-controls="menu-principale">
                                        <span>Ministero della Difesa</span>
                                        <svg class="icon">
                                            <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                        </svg>
                                    </a>
                                </nav>
                            </div>

                            <div sec:authorize="isAuthenticated()" class="nav-item dropdown"
                                 style="background-color: #0066cc">
                                <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        data-toggle="dropdown"
                                        aria-expanded="false"
                                >
                                    Benvenuto,&nbsp; <span sec:authentication="name"></span>
                                    <svg class="icon d-none d-lg-block">
                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                    </svg>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="link-list-wrapper">
                                                <ul class="link-list">
                                                    <li>
                                                        <a class="list-item" th:href="@{/logout}"><span>Logout</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <span sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" class="btn btn-primary btn-icon btn-full">
                                <span class="rounded-icon">
                                  <svg class="icon icon-primary">
                                      <use th:href="@{/svg/sprite.svg#it-user}"></use>

                                  </svg>
                                </span>
                                <span class="d-none d-lg-block">Accedi all'area personale</span>
                            </a>
                        </span>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="it-nav-wrapper">
            <div class="it-header-center-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="it-header-center-content-wrapper">
                                <div class="it-brand-wrapper">
                                    <a th:href="@{/}">
                                        <img th:src="@{/img/logo.png}" width="60" height="60" style="margin-right: 10px;"/>
                                        <p></p>
                                        <div class="it-brand-text">
                                            <h2 class="no_toc">SILDifesa</h2>
                                            <h3 class="no_toc d-none d-md-block">Sistema Informativo Lavoro Difesa</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="it-right-zone">
                                    <div class="it-socials d-none d-md-flex">
                                        <span data-container="body" data-toggle="popover" data-trigger="hover"
                                              data-placement="right" data-html="true" title="Gestione Sistema">
                                            <a class="nounderline text-white" th:href="@{/bo/gestioneSistema/autoAggiornaComuni}">Gestione Sistema
                                                <svg class="icon icon-light icon-m">
                                                    <use th:href="@{/svg/sprite.svg#it-settings}"></use>
                                                </svg>
                                            </a>
                                    </span>
                                    </div>
                                    <div class="it-search-wrapper">
                                        <span class="d-none d-md-block">Cerca</span>
                                        <a class="search-link rounded-icon" href="#" aria-label="Cerca">
                                            <svg class="icon">
                                                <use th:href="@{/svg/sprite.svg#it-search}" ></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="it-header-navbar-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="navbar navbar-expand-lg has-megamenu">
                                <button class="custom-navbar-toggler" type="button" aria-controls="nav10"
                                        aria-expanded="false" aria-label="Toggle navigation" data-target="#nav10">
                                    <svg class="icon">
                                        <use th:href="@{/svg/sprite.svg#it-burger}"></use>
                                    </svg>
                                </button>
                                <div class="navbar-collapsable" id="nav10">
                                    <div class="overlay"></div>
                                    <div class="close-div sr-only">
                                        <button class="btn close-menu" type="button"><span class="it-close"></span>close
                                        </button>
                                    </div>
                                    <div class="menu-wrapper">
                                        <ul class="navbar-nav">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Anagrafica</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Anagrafica</h3>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/anagrafica/list}">
                                                                <span class="fit-drop">
                                                                    <svg
                                                                            class="icon icon-xs icon-primary left"><use
                                                                            th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Anagrafica Volontari</span></a>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/anagraficaaziende/lista}">
                                                                <span class="fit-drop">
                                                                    <svg
                                                                            class="icon icon-xs icon-primary left"><use
                                                                            th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Anagrafica Aziende</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Tipologie</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Tipologie</h3>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/arma/listaArma}">
                                                                <span class="fit-drop">
                                                                    <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Forze Armate</span></a>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/grado/listaGrado}">

                                                                <span class="fit-drop">  <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg> Gestione Gradi</span></a>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/nazione/listaNazione}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Nazione</span></a>
                                                            </li>

                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/associazioneCategoria/listaAssociazioneCategoria}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Associazione Categoria</span></a>
                                                            </li>

                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/categoriaProtetta/listaCategoriaProtetta}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Categorie Protette</span></a>
                                                            </li>

<!--                                                            <li><a class="list-item left-icon"-->
<!--                                                                   th:href="@{/bo/contratto/listaContratto}">-->

<!--                                                                <span class="fit-drop"> <svg-->
<!--                                                                        class="icon icon-xs icon-primary left"><use-->
<!--                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Contratti</span></a>-->
<!--                                                            </li>-->
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/distrettoMilitare/listaDistrettoMilitare}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Distretti Militari</span></a>
                                                            </li>

                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/naturaGiuridica/listaNaturaGiuridica}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Nature Giuridiche</span></a>
                                                            </li>

                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/ruolo/listaRuolo}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Ruoli</span></a>
                                                            </li>

                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/statoIter/listaStatoIter}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Stati Iter</span></a>
                                                            </li>

                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/supportoFa/listaSupportoFa}">

                                                                <span class="fit-drop"> <svg
                                                                        class="icon icon-xs icon-primary left"><use
                                                                        th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Supporti Forze Armate</span></a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>



                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Corsi</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="corsi">Corsi</h3>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/corsi/lista}">
                                                                <span class="fit-drop">
                                                                    <svg
                                                                            class="icon icon-xs icon-primary left"><use
                                                                            th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Corsi</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>


                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Offerte</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Offerte</h3>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/offerte/lista}">
                                                                <span class="fit-drop">
                                                                    <svg
                                                                            class="icon icon-xs icon-primary left"><use
                                                                            th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Offerte</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>


                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Bandi</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Bandi</h3>
                                                            </li>
                                                            <li><a class="list-item"
                                                                   href="#"><span>In Costruzione...</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Cooperative</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Cooperative</h3>
                                                            </li>
                                                            <li><a class="list-item"
                                                                   href="#"><span>In Costruzione...</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Report</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Report</h3>
                                                            </li>
                                                            <li><a class="list-item"
                                                                   href="#"><span>In Costruzione...</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Approvazioni</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Approvazioni</h3>
                                                            </li>
                                                            <li><a class="list-item"
                                                                   href="#"><span>In Costruzione...</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>



                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <span>Utenti</span>
                                                    <svg class="icon icon-xs">
                                                        <use th:href="@{/svg/sprite.svg#it-expand}"></use>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <div class="link-list-wrapper">
                                                        <ul class="link-list">
                                                            <li>
                                                                <h3 class="no_toc" id="heading">Account Utenti</h3>
                                                            </li>
                                                            <li><a class="list-item left-icon"
                                                                   th:href="@{/bo/gestioneUtenti/lista}">
                                                                <span class="fit-drop">
                                                                    <svg
                                                                            class="icon icon-xs icon-primary left"><use
                                                                            th:href="@{/svg/sprite.svg#it-chevron-right}"></use></svg>Gestione Utenti Volontari</span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <script th:src="@{/js/bootstrap-italia.bundle.min.js}"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="popover"]').popover()
            });

            $(function () {
                $('.example-popover').popover({
                    container: 'body'
                })
            })
        });
    </script>
</div>
</html>
