<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<div th:fragment="paging(path)">

    <nav th:if="${lista.totalPages > 0}"
         class="pagination-wrapper d-flex justify-content-center "
         aria-label="Esempio di navigazione della pagina">
        <ul
                class="pagination">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{(${path})(size=${lista.size}, page=${currentPage==1 ? 1 : currentPage - 1})}">
                    <svg class="icon icon-primary">
                        <use th:href="@{/svg/sprite.svg#it-chevron-left}"></use>
                    </svg>
                    <span class="sr-only">Pagina precedente</span>
                </a>
            </li>

          <!--  <li th:each="pageNumber : ${pageNumbers}" class="page-item">-->

            <li th:if="${pageStart > 0}" class="page-item" >
                <a th:href="@{(${path})(size=${lista.size}, page=${1})}"
                   th:text="1" class="page-link"
                   th:class="page-link "></a>

            </li>
            <li th:if="${pageStart > 0}" class="page-item" >
                <a th:text="..." class="page-link"
                   th:class="page-link "></a>
            </li>

            <li th:each="pageNumber : ${partialPageNumbers}" th:class="${pageNumber==lista.number + 1 ? 'page-item active' : 'page-item'}">
                <a th:href="@{(${path})(size=${lista.size}, page=${pageNumber})}"
                   th:text=${pageNumber} class="page-link"
                   th:class="${pageNumber==lista.number + 1 ? 'page-link active font-weight-bold' : 'page-link'  }"
                   th:attrappend="aria-current=${pageNumber==lista.number + 1 ? 'page' :null}"
                ></a>
            </li>

            <li th:if="${pageEnd < totalPages }" class="page-item" >
                <a th:text="..." class="page-link"
                   th:class="page-link "></a>
            </li>
            <li th:if="${pageEnd < totalPages }" class="page-item" >
                <a th:href="@{(${path})(size=${lista.size}, page=${totalPages})}"
                   th:text="${totalPages}" class="page-link"
                   th:class="page-link "></a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   th:href="@{(${path})(size=${lista.size}, page=${currentPage== totalPages ? totalPages : currentPage + 1})}">
                    <span class="sr-only">Pagina successiva</span>
                    <svg class="icon icon-primary">
                        <use th:href="@{/svg/sprite.svg#it-chevron-right}"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <br>
    </nav>

    <span th:if="${currentPage != null}" th:text="'Pagina '+  ${currentPage} + ' di ' + ${totalPages}"
          class="d-flex justify-content-center "></span>
    <span th:if="${currentPage == null}" th:text="'Pagina 1 di 1'" class="d-flex justify-content-center"></span>
</div>

</html>
