.nounderline {
  text-decoration: none !important;
}

.fit-drop {

  /*width: 100%;*/
  width: max-content

}
.text-red{
  color: red !important;
}

.divajax{
  position: absolute;z-index:20; background-color: white;width: 100%;
  max-height: 200px;
}

.mouse-over-ajax:hover{
  background-color: #06c;
  color: white;
}

.graph-hover:not(:hover){
  color:#06c;
}
.graph{
  padding-left: 5% !important;
}
.text-size{
  font-size: 14px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-30{
  margin-top: 30px;
}

.button-filtro{
  padding-bottom: 5%;
}

.form-filtro{
  display: none;
}

.btn-radius{
  border-radius: 5px;
}

.card-primo-button-home{
  padding-bottom: 5%;
  padding-top: 10%;
  color: white;
}

.card-primo-button-home-aziende{
  padding-bottom: 9%;
  padding-top: 10%;
  color: white;
}

.card-button-home{
  padding-bottom: 5%;
  padding-top: 5%;
  color: white;
}

.card-button-home-aziende{
  padding-bottom: 9%;
  padding-top: 9%;
  color: white;
}
.inline-td{
  inline-size: max-content;
}
.testo-mini{
  font-size: larger;
}
