<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header :: header"></head>
<body>

<br>
<div class="container mb-20">

    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Si è verificato un errore:
                        </h5>
                        <div th:if="${error}">
                            <div >
                                <p class="text-red text-" th:text="${error}"></p>
                            </div>
                        </div>
                        <span>
                        <a type="button" class="btn btn-primary" th:href="@{/}">Torna alla Home</a>
                        </span>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>

    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


<!--<script src="/static/js/bootstrap-italia.bundle.min.js?201910210959"></script>-->
</body>
</html>
