<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header :: header"></head>
<body>

<br>
<div class="container mb-20">

    <div th:if="${error}">
        <div class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${confirm}">
        <div class="alert alert-success" role="alert">
            <p th:text="${confirm}"></p>
        </div>
    </div>
    <!--    <img class="rounded mx-auto d-block" th:src="@{/img/logosild.png}" width="30%" height="30%"/>-->
    <!--    <hr>-->
    <div class="row">
        <div class="col-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Sei un volontario congedato in cerca di lavoro?
                        </h5>
                        <span>
                        <a type="button" class="btn btn-primary" th:href="@{/bo/anagrafica/insert}">Inserisci Anagrafica</a>
                        </span>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
        <div class="col-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Sei un' azienda in cerca di professionisti?</h5>
                        <button type="button" class="btn btn-primary">Entra</button>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


<!--<script src="/static/js/bootstrap-italia.bundle.min.js?201910210959"></script>-->
</body>
</html>
