<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title ">Sei un volontario congedato in cerca di lavoro?</h5>
                        <a type="button" class="btn btn-primary" th:href="@{/home}">Entra</a>
                        <div class="card-primo-button-home">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius">Iscriviti gratuitamente su SILDifesa</a>
                        </div>
                        <div class="card-button-home">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius">Consulta e segnalati per le offerte di lavoro disponibili (solo per gli iscritti)</a>
                        </div>
                        <div class="card-button-home">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius">Consulta e segnalati per le offerte di lavoro disponibili</a>
                        </div>
                        <div class="card-button-home">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius">Consulta ed aggiorna il tuo curriculum (solo per gli iscritti)</a>
                        </div>
                        <div class="card-button-home">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius">Consulta i concorsi pubblici che prevedono la riserva dei posti</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
        <div class="col-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Sei un'azienda in cerca di professionisti?</h5>
                        <a type="button" class="btn btn-primary" th:href="@{/home}">Entra</a>
                        <div class="card-primo-button-home-aziende">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius" style="border-radius: 5px">
                                Ricerca professionalità nella nostra Banca Dati (anche se la tua azienda non è ancora accreditata)
                            </a>
                        </div>
                        <div class="card-button-home-aziende">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius" style="border-radius: 5px">Inserisci offerte di lavoro</a>
                        </div>
                        <div class="card-button-home-aziende">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius" style="border-radius: 5px">Inserisci offerte di stage o tirocinio</a>
                        </div>
                        <div class="card-button-home-aziende">
                            <a type="button" class="btn btn-primary btn-block btn-lg btn-radius" style="border-radius: 5px">Richiedi l'accredito gratuito al SILDifesa</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>