<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>

<br>
<div class="container mb-20">

    <div th:if="${error}">
        <div class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${confirm}">
        <div class="alert alert-success" role="alert">
            <p th:text="${confirm}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <!--start card-->
            <div class="card-wrapper card-space">

                <div class="card card-bg card-big">

                    <div class="card-body">
                        <h5 class="card-title">Inserisci la nuova Password.</h5>
                       <form th:action="@{/passwordReset/{username}/{token}/esegui(username=${username}, token = ${token})}" th:method="post" th:object="${utente}">
                           <br>
                           <div class="form-row">
                               <div class="col-12">
                                   <div class="form-group">
                                       <label for="password">Password</label>
                                       <input type="password"
                                              class="form-control input-password input-password-strength-meter"
                                              id="password"
                                              th:field="*{password}" autocomplete="off">

                                       <span class="password-icon" aria-hidden="true">
                                                        <svg class="password-icon-visible icon icon-sm"><use
                                                                th:href="@{/svg/sprite.svg#it-password-visible}"></use></svg>
                                                        <svg class="password-icon-invisible icon icon-sm d-none"><use
                                                                th:href="@{/svg/sprite.svg#it-password-invisible}"></use></svg>
                                                    </span>
                                       <b th:if="${erroreLunghezzaPassword}" class="text-red"
                                          th:text="${erroreLunghezzaPassword}">
                                           Error
                                       </b>
                                   </div>
                               </div>
                           </div>
                           <div class="form-row">
                               <div class="col-12">
                                   <div class="form-group">
                                       <label for="passwordConfirm">Conferma Password</label>
                                       <input type="password" class="form-control"
                                              id="passwordConfirm"
                                              th:field="*{passwordConfirm}" autocomplete="off">
                                       <b th:if="${errorePasswordConfirm}" class="text-red"
                                          th:text="${errorePasswordConfirm}">
                                           Error
                                       </b>

                                   </div>
                               </div>
                           </div>
                           <button th:type="submit" class="btn btn-primary">Invia</button>
                       </form>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>

    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
