<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>

<br>
<div class="container mb-20">

    <div th:if="${error}">
        <div class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${confirm}">
        <div class="alert alert-success" role="alert">
            <p th:text="${confirm}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <!--start card-->
            <div class="card-wrapper card-space">

                <div class="card card-bg card-big">

                    <div class="card-body">
                        <h5 class="card-title">Inserisci l'indirizzo e-mail usato in fase di registrazione.</h5>
                       <form th:action="@{/passwordReset/exec}" th:method="post" >
                           <br>
                           <div class="form-row">
                               <div class="col-12">
                                   <div class="form-group">
                                       <label for="nome">E-Mail</label>
                                       <input th:required="true" type="email" class="form-control" name="email" id="nome">
                                   </div>
                               </div>

                           </div>
                           <button th:type="submit" class="btn btn-primary">Invia</button>
                       </form>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>

    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
