<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<div class="container my-4">
    <div th:if="${error}" >
        <div class="alert alert-danger" role="alert">
            <b>Username</b> o <b>Password</b> errati.
        </div>
    </div>
    <div th:if="${logout}" >
        <div class="alert alert-info" role="alert">
            <b>Logout</b> avvenuto con successo.
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>

                        <form action="login" method="post">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username">

                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <br>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                        <a th:href="@{#}">Password dimenticata?</a>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>


<!--<script src="/static/js/bootstrap-italia.bundle.min.js?201910210959"></script>-->
</body>
</html>
