<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('.it-date-datepicker').datepicker({
                inputFormat: ["dd/MM/yyyy"],
                outputFormat: 'dd/MM/yyyy',
            });
        });
    </script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>


<div class="container my-4">
    <div th:if="${error}">
        <div class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${logout}">
        <div class="alert alert-info" role="alert">
            <b>Logout</b> avvenuto con successo.
        </div>
    </div>
    <div th:if="${erroreUsername}">
        <div class="alert alert-danger" role="alert">
            <p th:text="${erroreUsername}"></p>
        </div>
    </div>
    <div class="container mb-20">
        <div class="row">
            <div class="col-12">
                <!--start card-->
                <div class="card-wrapper card-space">
                    <div class="card card-bg card-big">
                        <div class="card-body">
                            <h5 class="card-title">Registrazione Account Volontario</h5>
                            <hr>
                            <br>
                            <form action="login" method="post" th:action="@{/registraAccount/execregistration}"
                                  th:object="${utenteVolontario}">
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="name">Nome</label>
                                            <input type="text" class="form-control" id="name" th:field="*{nome}">
                                            <b th:if="${#fields.hasErrors('nome')}" class="text-red"
                                               th:errors="*{nome}">
                                                Error
                                            </b>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="cognome">Cognome</label>
                                                    <input type="text" class="form-control" id="cognome"
                                                           th:field="*{cognome}">
                                                    <b th:if="${#fields.hasErrors('cognome')}" class="text-red"
                                                       th:errors="*{cognome}">
                                                        Error
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="email">E-mail</label>
                                                    <input class="form-control" id="email" type="email"
                                                           th:field="*{email}">
                                                    <p class="text-size">Inserire un indirizzo e-mail valido. Verrà
                                                        utilizzato per le future comunicazioni</p>
                                                    <b th:if="${#fields.hasErrors('email')}" class="text-red"
                                                       th:errors="*{email}">
                                                        Error
                                                    </b>
                                                    <b th:if="${erroreEmail}" class="text-red"
                                                       th:text="${erroreEmail}">
                                                        Error
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input type="text" class="form-control" id="username"
                                                           th:field="*{username}" autocomplete="off">
                                                    <b th:if="${#fields.hasErrors('username')}" class="text-red"
                                                       th:errors="*{username}">
                                                        Error
                                                    </b>
                                                    <b th:if="${erroreUsername}" class="text-red"
                                                       th:text="${erroreUsername}">
                                                        Error
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password"
                                                           class="form-control input-password input-password-strength-meter"
                                                           id="password"
                                                           th:field="*{password}" autocomplete="off">

                                                    <span class="password-icon" aria-hidden="true">
                                                        <svg class="password-icon-visible icon icon-sm"><use
                                                                th:href="@{/svg/sprite.svg#it-password-visible}"></use></svg>
                                                        <svg class="password-icon-invisible icon icon-sm d-none"><use
                                                                th:href="@{/svg/sprite.svg#it-password-invisible}"></use></svg>
                                                    </span>


<!--                                                    <p class="text-size">Inserire una password compresa tra gli 8 e i 16-->
<!--                                                        caratteri.</p>-->
                                                    <b th:if="${#fields.hasErrors('password')}" class="text-red"
                                                       th:errors="*{password}">
                                                        Error
                                                    </b>
                                                    <b th:if="${erroreLunghezzaPassword}" class="text-red"
                                                       th:text="${erroreLunghezzaPassword}">
                                                        Error
                                                    </b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="passwordConfirm">Conferma Password</label>
                                                    <input type="password" class="form-control"
                                                           id="passwordConfirm"
                                                           th:field="*{passwordConfirm}" autocomplete="off">
                                                    <b th:if="${errorePassword}" class="text-red"
                                                       th:text="${errorePassword}">
                                                        Error
                                                    </b>

                                                </div>
                                            </div>
                                        </div>

                                        <!--                                        <div class="form-row">-->
                                        <!--                                            <div class="col-12">-->
                                        <!--                                                <div class="g-recaptcha col-sm-5"-->
                                        <!--                                                     th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>-->
                                        <!--                                                <span id="captchaError" class="alert alert-danger col-sm-4"-->
                                        <!--                                                      style="display:none"></span>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->

                                        <p><b><i>Con l'invio del presente modulo acconsento al trattamento dei dati personali trasmessi. Consenso esplicito secondo il D.Lgs 196/2003.</i></b></p>
                                        <button type="submit" class="btn btn-primary">Registrati</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--end card-->
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>


<!--<script src="/static/js/bootstrap-italia.bundle.min.js?201910210959"></script>-->
</body>
</html>
