<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<script>
    $(document).ready(function () {
        $('.it-date-datepicker').datepicker({
            inputFormat: ["dd/MM/yyyy"],
            outputFormat: 'dd/MM/yyyy',
        });
    });
</script>
<br>
<div class="container mb-20">
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Inserimento Nazione</h5>
                        <br>
                        <form th:action="@{/bo/nazione/eseguiInserimentoNazione}" th:object="${nazione}"
                              method="post">
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="nome">Nome Nazione*</label>
                                        <input type="text" class="form-control" th:field="*{nome}" id="nome">
                                        <p th:if="${#fields.hasErrors('nome')}" class="pl-2 text-danger"
                                           th:errors="*{nome}">
                                            Error
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="codice">Codice Nazione*</label>
                                        <input type="text" class="form-control" th:field="*{codice}" id="codice">
                                        <p th:if="${#fields.hasErrors('codice')}" class="pl-2 text-danger"
                                           th:errors="*{codice}">
                                            Error
                                        </p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group bootstrap-select-wrapper">

                                        <label>Europea</label>

                                        <select id="forzaArmata" th:field="*{ee}"
                                                title="Nazione Europea">
                                            <option
                                                    th:value="0"
                                                    th:utext="No">EE
                                            </option>
                                            <option
                                                    th:value="1"
                                                    th:utext="Sì">EE
                                            </option>
                                        </select>
                                        <p th:if="${#fields.hasErrors('ee')}" class="pl-2 text-danger"
                                           th:errors="*{ee}">
                                            Error
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <span>
                                <button th:type="submit" class="btn btn-primary">Inserisci</button>
                                 <a th:type="button" th:href="@{/bo/nazione/listaNazione}" class="btn btn-outline-primary">Indietro</a>
                            </span>
                        </form>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
