<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
</head>
<body>
<!--Script in pagina perchè non è possibile utilizzare i tag ThymeLeaf in file js esterni-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var anag = /*[[${anagrafica}]]*/ null;
    var tipoDocumenti = /*[[${tipoDocumenti}]]*/ null;
    var livelloStudio = /*[[${livelloStudio}]]*/ null;
    /*]]>*/
</script>
<br>
<div class="container mb-20">
    <div class="row">
        <div class="col-3">
            <a th:href="@{/bo/anagrafica/list}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-arrow-left-circle}"></use>
             </svg>
        </span>
                <span>Torna alla lista</span>
            </a>
        </div>
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Dettaglio Anagrafica
                        </h5>
                        <br>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Nome:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.nome)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Cognome:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.cognome)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Data Nascita:</p></b>
                                <i><p th:if="anagrafica.dataNascita != null" th:text="${#dates.format(anagrafica.dataNascita, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="anagrafica.dataNascita == null" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Sesso:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.sesso)}">:</p></i>
                            </div>

                            <div class="col-4">
                                <b><p>Numero Telefono:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.numeroTelefono)}">:</p></i>
                            </div>


                            <div class="col-4">
                                <b><p>Comune Nascita:</p></b>
                                <i><p th:if="${anagrafica.suComune2 != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.suComune2.nome)}">:</p></i>
                                <i><p th:if="${anagrafica.suComune2 == null}" th:text="'Nessun Comune inserito'">:</p></i>
                            </div>
                        </div>


                        <div class="form-row">

                            <div class="col-4">
                                <b><p>CF:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.codiceFiscale)}">:</p></i>
                            </div>

                            <div class="col-4">
                                <b><p>Numero Figli:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.numeroFigli)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Stato Civile:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.statoCivile)}">:</p></i>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="form-row">

                            <div class="col-12">
                                <b><p>Livello Titolo Studio:</p></b>
                                <i><p id="titoloStudio"></p></i>
                            </div>
                        </div>
                        <br>
                        <h6>Titoli di Studio:</h6>
                        <br>
                        <div class="form-row" th:each="liv : ${anagrafica.caAnagraficaTitolostudios}">
                            <div class="col-6">
                                <b><p>Titolo di Studio:</p></b>
                                <i><p th:text="${liv.suTitoloStudio.denominazione}"></p></i>
                            </div>
                            <div class="col-2">
                                <b><p>Anno Titolo Studio:</p></b>
                                <i><p th:text="${liv.annoConseguimento}"></p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Istituto Conseguimento:</p></b>
                                <i><p th:text="${liv.istitutoConseguimento}"></p></i>
                            </div>
                        </div>


                        <hr>
                        <br>
                        <h6>Residenza:</h6>
                        <br>
                        <div class="form-row">
                            <div class="col-5">
                                <b><p>Indirizzo Residenza:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.indirizzoResidenza)}">:</p></i>
                            </div>

                            <div class="col-5">
                                <b><p>Comune Residenza:</p></b>
                                <i><p th:if="${anagrafica.suComune1 != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.suComune1.nome)}">:</p></i>
                                <i><p th:if="${anagrafica.suComune1 == null}" th:text="'Nessun Comune inserito'">:</p></i>
                            </div>


                            <div class="col-2">
                                <b><p>Cap Residenza:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.capComuneResidenza)}">:</p></i>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="form-row">
                            <div class="col-12"><h6>Domicilio:</h6></div>
                            <div class="col-5">
                                <b><p>Indirizzo Domicilio:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.indirizzoDomicilio)}">:</p></i>
                            </div>
                            <div class="col-5">
                                <b><p>Comune Domicilio:</p></b>
                                <i><p th:if="${anagrafica.suComune3 != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.suComune3.nome)}">:</p></i>
                                <i><p th:if="${anagrafica.suComune3 == null}" th:text="'Nessun Comune inserito'">:</p></i>
                            </div>
                            <div class="col-2">
                                <b><p>Cap Domicilio:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.capDomicilio)}">:</p></i>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <h6>Documento Identita:</h6>
                        <br>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Tipo Documento Identità:</p></b>
                                <i><p id="tipoDoc"></p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Num. Documento Identità:</p></b>
                                <i><p th:if="${anagrafica.caDocumentoIdentita != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.caDocumentoIdentita.numDocumentoIdentita)}">:</p></i>
                                <i><p th:if="${anagrafica.caDocumentoIdentita == null}" th:text="'Nessun Valore inserito'">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Documento Identità:</p></b>
                                <i><p th:if="${anagrafica.caDocumentoIdentita != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.caDocumentoIdentita.nomeDocumentoIdentitaFile)}">:</p></i>
                                <i><p th:if="${anagrafica.caDocumentoIdentita == null}" th:text="'Nessun Documento inserito'">:</p></i>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Email:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.email)}">:</p></i>
                            </div>
                        </div>

                        <hr>
                        <div class="col-12"><h6>Informazioni Militari:</h6></div>
                        <br>
                        <div class="form-row">

                            <div class="col-6">
                                <b><p>F.A. di appartenenza:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.forzaArmata)}">:</p></i>
                            </div>

                            <div class="col-6">
                                <b><p>Arma:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.arma)}">:</p></i>
                            </div>

                            <div class="col-6">
                                <b><p>Grado:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.gradoMilitare)}">:</p></i>
                            </div>
                            <div class="col-6">
                                <b><p>Categoria/Specialità/Incarico:</p></b>
                                <i><p th:if="${anagrafica.suSpecialita != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.suSpecialita.nome)}">:</p></i>
                                <i><p th:if="${anagrafica.suSpecialita == null}" th:text="'Nessun Valore inserito'">:</p></i>
                            </div>
                            <hr>
                            <br>
                            <div class="col-6">
                                <b><p>Stato Giuridico:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.statoGiuridico)}">:</p></i>
                            </div>

                            <div class="col-6">
                                <b><p>Tipo Servizio o ferma:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.tipoFerma)}">:</p></i>
                            </div>

                            <div class="col-4">
                                <b><p>Tipo di rafferma:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(anagrafica.rafferma)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Data Incorporazione:</p></b>
                                <i><p th:if="anagrafica.dataIncorporazione != null" th:text="${#dates.format(anagrafica.dataIncorporazione, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="anagrafica.dataIncorporazione == null" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Data Congedo:</p></b>
                                <i><p th:if="anagrafica.dataCongedo != null" th:text="${#dates.format(anagrafica.dataCongedo, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="anagrafica.dataCongedo == null" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>

<script th:src="@{/js/sildifesa/dettaglioAnagraficaVolontari.js}" th:inline="javascript"></script>
</body>

</html>
