<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<br>
<div class="container mb-20">
    <div th:if="${error}" >
        <div class="alert alert-danger" role="alert">
            <b th:text="${error}"></b>
        </div>
    </div>
    <div th:if="${confirm}" >
        <div class="alert alert-success" role="alert">
            <b th:text="${confirm}"></b>
        </div>
    </div>
    <a th:href="@{/bo/anagrafica/insert}" class="btn btn-primary btn-icon"  style="margin-bottom: 20px;">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-user}"></use>
             </svg>
        </span>
        <span>Inserisci Anagrafica</span>
    </a>
    <br>
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="button-filtro">
                            <button type="button" id="buttonFiltro" class="btn btn-primary">Mostra Filtri</button>
                        </div>
                        <!--form per la ricerca in tabella per nome e cognome-->
                        <form class="form-filtro" th:action="@{/bo/anagrafica/list}" th:object="${caAnagrafica}" method="get" id="formFiltro">
                            <div class="form-row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="nomeAnagrafica">Nome:</label>
                                        <input name="nome" id="nomeAnagrafica" type="text" th:field="${caAnagrafica.nome}" placeholder="Inserisci nome">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="cognomeAnagrafica">Cognome:</label>
                                        <input name="cognome" id="cognomeAnagrafica" type="text" th:field="${caAnagrafica.cognome}" placeholder="Inserisci cognome">
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button type="submit" class="btn btn-primary">Cerca</button>
                                </div>
                                <div class="col-1">
                                    <button onclick="resetForm()" class="btn btn-danger">Cancella</button>
                                </div>
                            </div>
                        </form>

                        <h5 class="card-title">Anagrafiche</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Azioni</th>
                                <th scope="col">Cod. fiscale</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Data Nascita</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="anagrafica : ${listaAnagrafica}">
                                <td class="text-center">
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true" title="Modifica">
                                             <a th:href="@{/bo/anagrafica/modificaAnagrafica(id=${anagrafica.id})}" class="nounderline"
                                                title="Modifica">
                                                 <svg class="icon icon-primary icon-m">
                                                     <use th:href="@{/svg/sprite.svg#it-pencil}"></use>
                                                </svg>
                                             </a>
                                    </span>
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true" title="Elimina">
                                            <a class="nounderline apriModale" href="#modaleConfermaElimina"
                                               th:data-id="@{/bo/anagrafica/eliminaAnagrafica(id=${anagrafica.id})}"
                                               data-toggle="modal" data-target="#modaleConfermaElimina"  >
                                                <svg class="icon icon-danger icon-m">
                                                    <use th:href="@{/svg/sprite.svg#it-delete}"></use>
                                                </svg>
                                            </a>
                                    </span>
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true" title="Dettaglio">
                                        <a th:href="@{/bo/anagrafica/dettaglioAnagrafica(id=${anagrafica.id})}" class="nounderline"
                                           title="Dettaglio">
                                            <svg class="icon icon-primary icon-m">
                                                <use th:href="@{/svg/sprite.svg#it-info-circle}"></use>
                                            </svg>
                                        </a>
                                    </span>

                                </td>
                                <td th:text="${anagrafica.codiceFiscale}"></td>
                                <td th:text="${anagrafica.nome}"></td>
                                <td th:text="${anagrafica.cognome}"></td>
                                <td th:text="${#dates.format(anagrafica.dataNascita, 'dd/MM/yyyy')}"></td>
                            </tr>


                            </tbody>
                        </table>
                        <div th:insert="fragments/utility::paging ('/bo/anagrafica/list?nome='+${caAnagrafica.nome == null?'':caAnagrafica.nome}+'&cognome='+${caAnagrafica.cognome== null?'':caAnagrafica.cognome})">...</div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog"  id="modaleConfermaElimina">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conferma elimina</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <svg class="icon">
                        <use th:href="@{/svg/sprite.svg#it-close}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare questo elemento?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Annulla</button>
                <a id="linkModale" class="btn btn-danger btn-sm" type="button">Elimina</a>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>


<script>
    $(document).on("click", ".apriModale", function () {
        var idArma = $(this).data('id');
        $("#linkModale").attr('href', idArma);
    });

    // filtro per ricerca
    $(document).ready(function(){
        $('#buttonFiltro').click(function(){
            $('#formFiltro').toggle(400, function(){
                if(document.getElementById("buttonFiltro").innerHTML == "Mostra Filtri"){
                    document.getElementById("buttonFiltro").innerHTML = "Nascondi Filtri";
                }
                else {
                    document.getElementById("buttonFiltro").innerHTML = "Mostra Filtri";
                }
                ;
            });
        });
    });
</script>
<script th:src="@{/js/sildifesa/liste.js}" src="../../static/js/sildifesa/liste.js" th:inline="javascript"></script>
</body>
</html>
