<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
    <script th:src="@{../../static/js/sildifesa/inserimentoAnagrafica.js}"></script>
</head>
<body>
<!--Script in pagina perchè non è possibile utilizzare i tag ThymeLeaf in file js esterni-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var addressAjax = /*[[@{/getTitoloDiStudio}]]*/ null;
    var addressAjaxLaurea = /*[[@{/getTitoloLaurea}]]*/ null;
    var addressAjaxComuni = /*[[@{/getComuni}]]*/ null;
    var addressAjaxArma = /*[[@{/getArma}]]*/ null;
    var addressAjaxGrado = /*[[@{/getGrado}]]*/ null;
    var addressAjaxIncarico = /*[[@{/getIncarico}]]*/ null;
    var addressAjaxLower = /*[[@{/getTitoloDiStudioLower}]]*/ null;
    var anag = /*[[${anagrafica}]]*/ null;
    var liv = /*[[${livelloTitolo}]]*/ null;
    // var index = /*[[${indexRiga}]]*/ 0;
    var titoli = anag.caAnagraficaTitolostudios;
    /*]]>*/
    $(document).ready(function () {
        $('.it-date-datepicker').datepicker({
            inputFormat: ["dd/MM/yyyy"],
            outputFormat: 'dd/MM/yyyy',
        });
    });

</script>
<script th:src="@{/js/sildifesa/insertAnagrafica.js}" th:inline="javascript"></script>
<script th:src="@{/js/sildifesa/calcolaCodiceFiscale.js}" th:inline="javascript"></script>
<br>
<div class="container mb-20">
    <div id="erroreDiv" hidden>
        <div class="alert alert-danger" role="alert">
            <b id="errore"></b>
        </div>
    </div>
</div>

<div class="container mb-20">
    <div class="row">
        <div class="col-3">
            <a th:href="@{/bo/anagrafica/list}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-arrow-left-circle}"></use>
             </svg>
        </span>
                <span>Torna alla lista</span>
            </a>
        </div>
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Modifica Anagrafica
                        </h5>
                        <br>
                        <form th:action="@{/bo/anagrafica/executeUpdateAnagrafica}" th:object="${anagrafica}"
                              method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="nome">Nome*</label>
                                        <input type="text" class="form-control" th:field="*{nome}" id="nome">
                                        <input type="hidden" th:field="*{id}">
                                        <b th:if="${#fields.hasErrors('nome')}" class="text-red"
                                           th:errors="*{nome}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="cognome">Cognome*</label>
                                        <input type="text" class="form-control" th:field="*{cognome}" id="cognome">
                                        <b th:if="${#fields.hasErrors('cognome')}" class="text-red"
                                           th:errors="*{cognome}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper" style="width: 100% !important;">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="date1" type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataNascita}">
                                            <label for="date1">Data di Nascita*</label>
                                            <b th:if="${#fields.hasErrors('dataNascita')}" class="text-red"
                                               th:errors="*{dataNascita}">
                                                Error</b>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">

                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label>Sesso*</label>
                                        <select id="sesso" th:field="*{sesso}" title="Seleziona il sesso">
                                            <option value="M">M</option>
                                            <option value="F">F</option>
                                        </select>
                                        <b th:if="${#fields.hasErrors('sesso')}" class="text-red"
                                           th:errors="*{sesso}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="numeroTel">Tel.*</label>
                                        <input type="text" class="form-control" th:field="*{numeroTelefono}"
                                               id="numeroTel">
                                        <b th:if="${#fields.hasErrors('numeroTelefono')}" class="text-red"
                                           th:errors="*{numeroTelefono}">
                                            Error
                                        </b>
                                    </div>
                                </div>


                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label>Comune Nascita*</label>
                                        <input onblur="chiudi()" th:field="*{suComune2.nome}" class="form-control"
                                               type="text" id="comuneNascitaInput"
                                               name="comuneNascita" onkeyup="ajaxComune('nascita')" autocomplete="off">
                                        <input id="comuneNascitaId" type="hidden" name="comuneNascita"
                                               th:field="*{suComune2.id}">
                                        <input id="comuneNascitaCodice" th:field="*{suComune2.codiceFisco}" type="hidden">
                                        <div class="border divajax  overflow-auto" hidden id="suggesstion-box"></div>

                                        <b th:if="${#fields.hasErrors('suComune2.id')}" class="text-red"
                                           th:errors="*{suComune2.id}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                            </div>


                            <div class="form-row">

                                <div class="col-7">
                                    <div class="bootstrap-select-wrapper">

                                        <label for="CF">C.F.*</label>
                                        <input type="text" class="form-control" th:value="*{#strings.toUpperCase(codiceFiscale)}" name="codiceFiscale"
                                               id="CF">
                                        <b th:if="${#fields.hasErrors('codiceFiscale')}" class="text-red"
                                           th:errors="*{codiceFiscale}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-1 text-center">
                                    <a type="button" href="javascript:void(0)" onclick="calcolaCodiceFiscale()">
                                        <svg class="icon">
                                            <use th:href="@{/svg/sprite.svg#it-card}"></use>
                                        </svg>
                                    </a>
                                </div>


                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label for="numeroFigli">Numero figli</label>
                                        <input type="text" id="numeroFigli" th:field="*{numeroFigli}"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-row">

                                <div class="col-8">
                                    <div class="bootstrap-select-wrapper">
                                        <label for="statoCivile">Stato civile</label>
                                        <select id="statoCivile" th:field="*{statoCivile}" title="Scegli una opzione"
                                                class="form-control">
                                            <option th:value="'celibe/nubile'">Celibe/Nubile</option>
                                            <option th:value="'coniugato/a'">Coniugato/a</option>
                                            <option th:value="'vedovo/a'">Vedovo/a</option>
                                            <option th:value="'divorziato/a'">Divorziato/a</option>
                                            <option th:value="'unito/a civilmente'">Unito/a civilmente</option>
                                            <option th:value="'stato libero/a a seguito di decesso della parte unita civilmente'">
                                                Stato libero/a a seguito di decesso della parte unita civilmente
                                            </option>
                                            <option th:value="'stato libero/a a seguito dello scioglimento dell\'unione'">
                                                Stato libero/a a seguito dello scioglimento dell'unione
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-4">
                                    <div id="divLivelloTitolo" class="bootstrap-select-wrapper">
                                        <label>Livello Titolo Studio </label>
                                        <select th:name="livelloTitolo" id="livelloTitolo" title="Scegli una opzione"
                                                class="form-control">
                                            <option th:each="liv : ${livelloStudio}"
                                                    th:value="${liv.livello}"
                                                    th:selected="${liv.livello.toString() == livelloTitolo}"
                                                    th:utext="${liv.nome}">Livello Studio
                                            </option>
                                        </select>
                                        <b th:if="${errorLivello != null}"
                                           class="text-red"
                                           th:text="${errorLivello}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <hr>

                            <h6>Titoli di Studio:</h6>
                            <span>
                                     <button type="button" disabled id="bottoneAggiungiTitolo"
                                             class="btn btn-primary btn-icon text-white" style="margin-bottom: 20px;">
                                                       <span class="rounded-icon">
                                                            <svg class="icon icon-primary">
                                                               <use th:href="@{/svg/sprite.svg#it-plus}"></use>
                                                            </svg>
                                                       </span>
                                         <span>Aggiungi Titolo di Studio</span>
                                     </button>
                            </span>
                            <button type="button" disabled id="bottoneEliminaTitolo"
                                    class="btn btn-danger btn-icon " style="margin-bottom: 20px;">
                                                       <span class="rounded-icon">
                                                            <svg class="icon icon-danger">
                                                               <use th:href="@{/svg/sprite.svg#it-delete}"></use>
                                                            </svg>
                                                       </span>
                                <span>Rimuovi un Titolo di Studio</span>
                            </button>
                            <br><br>
                            <div id="fatherDivRowTitolo">
                                <div class="form-row" th:each="item, itemStat : ${caAnagraficaTitolostudios}"
                                     id="divRowTitolo">
                                    <input id="studio" type="hidden" class="changeHidden change" th:field="*{caAnagraficaTitolostudios[__${itemStat.index}__].id}">
                                    <div class="col-4">
                                        <div class="bootstrap-select-wrapper" id="aggiungiTitolo">
                                            <label for="titoloStudio" class='labelChange'>Titolo di Studio</label>
                                            <select id="titoloStudio"
                                                    th:field="*{caAnagraficaTitolostudios[__${itemStat.index}__].suTitoloStudio.id}"
                                                    class="form-control change"
                                                    title="Seleziona prima il Livello del Titolo di Studio">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="annoTitolo" class='labelChange'>Anno Titolo Studio</label>
                                            <input type="number" maxlength="4"
                                                   class="form-control change changeInputAnno"
                                                   th:field="*{caAnagraficaTitolostudios[__${itemStat.index}__].annoConseguimento}"
                                                   id="annoTitolo">
                                            <b th:if="${#fields.hasErrors('caAnagraficaTitolostudios[__${itemStat.index}__].annoConseguimento')}"
                                               class="text-red"
                                               th:errors="*{caAnagraficaTitolostudios[__${itemStat.index}__].annoConseguimento}">
                                                Error
                                            </b>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="istituto" class='labelChange'>Istituto Conseguimento</label>
                                            <input type="text" class="form-control change changeInputIstituto"
                                                   th:field="*{caAnagraficaTitolostudios[__${itemStat.index}__].istitutoConseguimento}"
                                                   id="istituto">
                                            <b th:if="${#fields.hasErrors('caAnagraficaTitolostudios[__${itemStat.index}__].istitutoConseguimento')}"
                                               class="text-red"
                                               th:errors="*{caAnagraficaTitolostudios[__${itemStat.index}__].istitutoConseguimento}">
                                                Error
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <br>
                            <h6>Residenza:</h6>
                            <br>
                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="indirizzoRes">Indirizzo Residenza</label>
                                        <input type="text" class="form-control" th:field="*{indirizzoResidenza}"
                                               id="indirizzoRes">
                                        <b th:if="${#fields.hasErrors('indirizzoResidenza')}" class="text-red"
                                           th:errors="*{indirizzoResidenza}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label>Comune Residenza</label>
                                        <input onblur="chiudiResidenza()" class="form-control"
                                               th:field="*{suComune1.nome}" type="text" id="comuneRes"
                                               name="comuneRes" onkeyup="ajaxComuneResidenza()" autocomplete="off">
                                        <input id="comuneResidenzaId" type="hidden" name="comuneResidenza"
                                               th:field="*{suComune1.id}">
                                        <input id="comuneResidenzaCodice" type="hidden">
                                        <div class="border divajax  overflow-auto" hidden id="ajaxResidenza"></div>
                                        <b th:if="${#fields.hasErrors('suComune1.id')}" class="text-red"
                                           th:errors="*{suComune1.id}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="capResidenza">CAP Residenza</label>
                                        <input type="text" class="form-control" th:field="*{capComuneResidenza}"
                                               id="capResidenza">
                                        <b th:if="${#fields.hasErrors('capComuneResidenza')}" class="text-red"
                                           th:errors="*{capComuneResidenza}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                            <hr>
                            <br>
                            <div class="form-row">
                                <div class="col-2"><h6>Domicilio:</h6></div>
                                <div class="col-10"><a type="button" onclick="copiaDomicilio()" id="copiaDomicilio()"
                                                       class="btn btn-primary text-white">Copia i dati di residenza se
                                    uguali</a></div>

                                <div class="col-8">
                                    <div class="form-group">
                                        <label id="indirizzoDomicilioLabel" for="indirizzoRes">Indirizzo
                                            Domicilio</label>
                                        <input type="text" class="form-control" th:field="*{indirizzoDomicilio}"
                                               id="indirizzoDomicilio">
                                        <b th:if="${#fields.hasErrors('indirizzoDomicilio')}" class="text-red"
                                           th:errors="*{indirizzoDomicilio}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div id="comuneDomDiv" class="bootstrap-select-wrapper">
                                        <label id="comuneDomLabel">Comune Domicilio*</label>
                                        <input onblur="chiudiDomicilio()" class="form-control"
                                               th:field="*{suComune3.nome}" type="text" id="comuneDom"
                                               name="comuneDom" onkeyup="ajaxComuneDomicilio()" autocomplete="off">
                                        <input id="comuneDomicilioId" type="hidden" name="comuneDomicilio"
                                               th:field="*{suComune3.id}">
                                        <input id="comuneDomicilioCodice" type="hidden">
                                        <div class="border divajax  overflow-auto" hidden id="ajaxDomicilio"></div>
                                        <b th:if="${#fields.hasErrors('suComune3.id')}" class="text-red"
                                           th:errors="*{suComune3.id}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label id="capDomicilioLabel" for="capDomicilio">CAP domicilio</label>
                                        <input type="text" class="form-control" th:field="*{capDomicilio}"
                                               id="capDomicilio">
                                        <b th:if="${#fields.hasErrors('capDomicilio')}" class="text-red"
                                           th:errors="*{capDomicilio}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-8"></div>
                            </div>
                            <hr>
                            <br>
                            <h6>Documento Identita:</h6>
                            <br>
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group bootstrap-select-wrapper">
                                        <label for="tipoDoc">Tipo Documento Identità</label>
                                        <select th:field="*{caDocumentoIdentita.caTipoDocumentoIdentita.id}"
                                                title="Seleziona una Tipologia di Documento"
                                                id="tipoDoc">
                                            <option th:each="tipoDoc : ${tipoDocumenti}"
                                                    th:value="${tipoDoc.id}"
                                                    th:utext="${tipoDoc.nome}">Tipo Doc
                                            </option>
                                        </select>
                                        <b th:if="${#fields.hasErrors('caDocumentoIdentita.caTipoDocumentoIdentita.id')}"
                                           class="text-red"
                                           th:errors="*{caDocumentoIdentita.caTipoDocumentoIdentita.id}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="numDocumentoIdentita">Num. Documento Identità</label>
                                        <input type="text" class="form-control"
                                               th:field="*{caDocumentoIdentita.numDocumentoIdentita}"
                                               id="numDocumentoIdentita">
                                        <b th:if="${#fields.hasErrors('caDocumentoIdentita.numDocumentoIdentita')}"
                                           class="text-red"
                                           th:errors="*{caDocumentoIdentita.numDocumentoIdentita}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <span>Carica Documento Identità</span>
                                        <input id="file" type="file" name="file">
                                        <p id="pFile" th:text="*{caDocumentoIdentita.nomeDocumentoIdentitaFile}">
                                            <a type="button" class="btn btn-primary text-white">Elimina</a></p>
                                        <input id="hiddenFile" type="hidden" th:field="*{caDocumentoIdentita.id}">
                                        <b th:if="${error != null}"
                                           class="text-red"
                                           th:text="${error}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <br>
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input type="email" class="form-control" th:field="*{email}"
                                               id="email">
                                        <b th:if="${#fields.hasErrors('email')}" class="text-red"
                                           th:errors="*{email}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12"><h6>Informazioni Militari:</h6></div>
                            <hr>
                            <br>
                            <div class="form-row">

                                <div class="col-6">
                                    <div class="form-group bootstrap-select-wrapper">
                                        <label for="forzaArmata">F.A. di appartenenza</label>
                                        <select th:field="*{forzaArmata}"
                                                title="Seleziona una Forza Armata"
                                                id="forzaArmata">
                                            <option th:each="forzaArmataItem : ${listaForzaArmata}"
                                                    th:value="${forzaArmataItem}"
                                                    th:utext="${forzaArmataItem}">Forza Armata
                                            </option>
                                        </select>
                                        <b th:if="${#fields.hasErrors('forzaArmata')}" class="text-red"
                                           th:errors="*{forzaArmata}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div id="armaDiv" class="form-group bootstrap-select-wrapper">
                                        <label for="arma">Arma</label>
                                        <select th:field="*{arma}"
                                                title="Seleziona Arma"
                                                id="arma">
                                            <option th:value="null"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div id="gradoDiv" class="form-group bootstrap-select-wrapper">
                                        <label for="gradoMilitare">Grado</label>
                                        <select th:field="*{gradoMilitare}"
                                                title="Seleziona un Grado"
                                                id="gradoMilitare">
                                            <option th:value="null"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="bootstrap-select-wrapper">
                                        <label for="incaricoInput">Categoria/Specialità/Incarico*</label>
                                        <input onblur="chiudiIncarico()" th:field="*{suSpecialita.nome}" class="form-control"
                                               type="text" id="incaricoInput"
                                               name="incarico" onkeyup="ajaxIncarico()" autocomplete="off">
                                        <input id="incaricoId" type="hidden" name="incaricoH"
                                               th:field="*{suSpecialita.id}">
                                        <div class="border divajax  overflow-auto" hidden id="ajaxIncarico"></div>

                                        <b th:if="${#fields.hasErrors('suSpecialita.nome')}" class="text-red"
                                           th:errors="*{suSpecialita.nome}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                            </div>


                            <hr>
                            <br>
                            <div class="form-row">

                                <div class="col-6">
                                    <div class="form-group bootstrap-select-wrapper">
                                        <label for="statoGiuridico">Stato giuridico*</label>
                                        <select th:field="*{statoGiuridico}"
                                                title="Seleziona uno Stato Giuridico"
                                                id="statoGiuridico">
                                            <option th:value="'In Servizio'">In Servizio</option>
                                            <option th:value="'Congedato'">Congedato</option>
                                            <option th:value="'Riformato'">Riformato</option>
                                        </select>
                                        <b th:if="${#fields.hasErrors('statoGiuridico')}" class="text-red"
                                           th:errors="*{statoGiuridico}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group bootstrap-select-wrapper">
                                        <label for="tipoFerma">Tipo di servizio o ferma</label>
                                        <select th:field="*{tipoFerma}"
                                                title="Seleziona tipo Ferma"
                                                id="tipoFerma">
                                            <option th:value="'VFA'">VFA</option>
                                            <option th:value="'VFB'">VFB</option>
                                            <option th:value="'VFP1'">VFP1</option>
                                            <option th:value="'Ufficiale ausiliario'">Ufficiale ausiliario</option>
                                            <option th:value="'Servizio Permanente'">Servizio Permanente</option>
                                            <option th:value="'Altro'">Altro</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group bootstrap-select-wrapper">
                                        <label for="rafferma">Tipo di Rafferma</label>
                                        <select th:field="*{rafferma}"
                                                title="Seleziona un Tipo di Rafferma"
                                                id="rafferma">
                                            <option th:value="'Prima Rafferma'">Prima Rafferma</option>
                                            <option th:value="'Seconda Rafferma'">Seconda Rafferma</option>
                                            <option th:value="'Terza Rafferma'">Terza Rafferma</option>
                                            <option th:value="'Altro'">Altro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper" style="width: 100% !important;">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="dataIncorporazione"
                                                   type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataIncorporazione}">
                                            <label for="dataIncorporazione">Data di Incorporazione*</label>
                                            <b th:if="${#fields.hasErrors('dataIncorporazione')}" class="text-red"
                                               th:errors="*{dataIncorporazione}">
                                                Error</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper" style="width: 100% !important;">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="dataCongedo" type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataCongedo}">
                                            <label for="dataCongedo">Data congedo*</label>
                                            <b th:if="${#fields.hasErrors('dataCongedo')}" class="text-red"
                                               th:errors="*{dataCongedo}">
                                                Error</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                            <input type="hidden" id="index" th:name="indexRiga" th:value="indexRiga">-->
                            <button th:type="submit" class="btn btn-primary">Modifica</button>
                        </form>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
