<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">


</head>
<!--Script in pagina perchè non è possibile utilizzare i tag ThymeLeaf in file js esterni-->
<script th:inline="javascript"></script>
<body>

<br>
<div class="container mb-20">
    <div id="erroreDiv" hidden>
        <div class="alert alert-danger" role="alert">
            <b id="errore"></b>
        </div>
    </div>
</div>

<div class="container mb-20">
    <div class="row">
        <div class="col-3">
            <a th:href="@{/bo/corsi/lista}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-arrow-left-circle}"></use>
             </svg>
        </span>
                <span>Torna alla lista</span>
            </a>
        </div>
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Dettaglio Corso</h5>
                        <br>
                        <div class="form-row">
                            <div class="col-8">
                                <b><p>Titolo Corso:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.titolo)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Numero Posti:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.numeroPosti)}">:</p></i>
                            </div>
                            <div class="col-8">
                                <b><p>Descrizione corso:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.descrizione)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Tirocinio:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.tirocinio)}">:</p></i>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row mt-30">
                            <div class="col-4">
                                <b><p>Referente Corso:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.riferimento)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Sezione Territoriale Coordinatrice:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.sezioneTerritorialeCoordinatrice)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Anno Finanziario:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.annoFinanziario)}">:</p></i>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Data Inizio:</p></b>
                                <i><p th:if="${corso.dataInizio != null}" th:text="${#dates.format(corso.dataInizio, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="${corso.dataInizio == null}" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Data Fine:</p></b>
                                <i><p th:if="${corso.dataFine != null}" th:text="${#dates.format(corso.dataFine, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="${corso.dataFine == null}" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Durata:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.durata)}">:</p></i>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row mt-30">
                            <div class="col-4">
                                <b><p>Data Inizio Candidatura:</p></b>
                                <i><p th:if="${corso.dataInizioCandidatura != null}" th:text="${#dates.format(corso.dataInizioCandidatura, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="${corso.dataInizioCandidatura == null}" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Data Fine Candidatura:</p></b>
                                <i><p th:if="${corso.dataFineCandidatura != null}" th:text="${#dates.format(corso.dataFineCandidatura, 'dd/MM/yyyy')}"></p></i>
                                <i><p th:if="${corso.dataFineCandidatura == null}" th:text="'Nessuna Data Inserita'"></p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Titolo Richiesto:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).titoloStudioUtil(corso.titoloStudioRichiesto)}">:</p></i>
                            </div>
                            <div class="col-8">
                                <b><p>Competenze Richieste:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.competenzeRichieste)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Documento Corso:</p></b>
                                <i><p th:if="${corso.foDocumentoCorso != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.foDocumentoCorso.nomeDocumentoCorsoFile)}">:</p></i>
                                <i><p th:if="${corso.foDocumentoCorso == null}" th:text="'Nessun Documento inserito'">:</p></i>
                            </div>
                            <div class="col-8">
                                <b><p>Certificazioni:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.certificazioni)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Benefit:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.benefit)}">:</p></i>
                            </div>

                        </div>

                        <hr>

                        <h6>Sede Corso:</h6>
                        <br>
                        <div class="form-row">
                            <div class="col-4">
                                <b><p>Azienda:</p></b>
                                <i><p th:if="${corso.caAnagraficaAzienda != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.caAnagraficaAzienda.ragioneSociale)}">:</p></i>
                                <i><p th:if="${corso.caAnagraficaAzienda == null}" th:text="'Nessuna Azienda inserito'">:</p></i>
                            </div>

                            <div class="col-4">
                                <b><p>Email referente:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.emailReferente)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Tel. Referente:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.telefonoReferente)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Indirizzo Sede Corso:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.indirizzoSede)}">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>Comune:</p></b>
                                <i><p th:if="${corso.localitaSedeCorso != null}" th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.localitaSedeCorso.nome)}">:</p></i>
                                <i><p th:if="${corso.localitaSedeCorso == null}" th:text="'Nessun Comune inserito'">:</p></i>
                            </div>
                            <div class="col-4">
                                <b><p>CAP Sede Corso:</p></b>
                                <i><p th:text="${T(it.sildifesa.sildifesa.controller.utilities.SildifesaUtility).fromNullToString(corso.capSede)}">:</p></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
