<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
</head>
<body>
<script th:inline="javascript"></script>
<br>
<div class="container mb-20">
    <div th:if="${error}" >
        <div class="alert alert-danger" role="alert">
            <b th:text="${error}"></b>
        </div>
    </div>
    <div th:if="${confirm}" >
        <div class="alert alert-success" role="alert">
            <b th:text="${confirm}"></b>
        </div>
    </div>
    <a th:href="@{/bo/corsi/insert}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-user}"></use>
             </svg>
        </span>
        <span>Inserisci Corso</span>
    </a>
    <br>
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <div class="button-filtro">
                            <button type="button" id="buttonFiltro" class="btn btn-primary">Mostra Filtri</button>
                        </div>
                        <form class="form-filtro" th:action="@{/bo/corsi/lista}"  method="get" id="formFiltro">
                            <div class="form-row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="titolo">Titolo:</label>
                                        <input th:field="${foCorso.titolo}" id="titolo" type="text"  placeholder="Inserisci titolo">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="azienda">Azienda:</label>
                                        <input th:field="${foCorso.caAnagraficaAzienda.ragioneSociale}" id="azienda" type="text"  placeholder="Inserisci azienda">
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button type="submit" class="btn btn-primary">Cerca</button>
                                </div>
                                <div class="col-1">
                                    <button type="button" onclick="resetForm()" class="btn btn-danger">Cancella</button>
                                </div>
                            </div>
                        </form>

                        <h5 class="card-title">Corsi</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Azioni</th>
                                <th scope="col">Titolo</th>
                                <th scope="col">Posti Disponibili</th>
                                <th scope="col">Durata</th>
                                <th scope="col">Azienda</th>
                                <th scope="col">Luogo</th>
                                <th scope="col">Tirocinio</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="corso : ${listaCorsi}">
                                <td class="text-center">
                                    <div class="inline-td">
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true" title="Modifica">
                                             <a th:href="@{/bo/corsi/modificaCorso(id=${corso.id})}" class="nounderline"
                                                title="Modifica">
                                                 <svg class="icon icon-primary icon-m">
                                                     <use th:href="@{/svg/sprite.svg#it-pencil}"></use>
                                                </svg>
                                             </a>
                                    </span>
                                        <span data-container="body" data-toggle="popover" data-trigger="hover"
                                              data-placement="right" data-html="true" title="Elimina">
                                            <a class="nounderline apriModale" href="#modaleConfermaElimina"
                                               th:data-id="@{/bo/corsi/eliminaCorso(id=${corso.id})}"
                                               data-toggle="modal" data-target="#modaleConfermaElimina"  >
                                                <svg class="icon icon-danger icon-m">
                                                    <use th:href="@{/svg/sprite.svg#it-delete}"></use>
                                                </svg>
                                            </a>
                                    </span>
                                        <span data-container="body" data-toggle="popover" data-trigger="hover"
                                              data-placement="right" data-html="true" title="Dettaglio">
                                        <a th:href="@{/bo/corsi/dettaglioCorso(id=${corso.id})}" class="nounderline"
                                           title="Dettaglio">
                                            <svg class="icon icon-primary icon-m">
                                                <use th:href="@{/svg/sprite.svg#it-info-circle}"></use>
                                            </svg>
                                        </a>
                                    </span>
                                        <span data-container="body" data-toggle="popover" data-trigger="hover"
                                              data-placement="right" data-html="true" title="iscritti">
                                        <a th:href="@{/bo/corsi/listaIscritti(id=${corso.id})}" class="nounderline"
                                           title="Iscritti">
                                            <svg class="icon icon-primary icon-m">
                                                <use th:href="@{/svg/sprite.svg#it-user}"></use>
                                            </svg>
                                        </a>
                                    </span>
                                    </div>
                                </td>
                                <td th:text="${corso.titolo}"></td>
                                <td th:text="${corso.numeroPosti}"></td>
                                <td th:text="${corso.durata}"></td>
                                <td th:text="${corso.caAnagraficaAzienda.ragioneSociale}"></td>
                                <td th:text="${corso.localitaSedeCorso.nome}"></td>
                                <td th:text="${corso.tirocinio} ? 'Si' : 'No'"></td>
                            </tr>


                            </tbody>
                        </table>
                        <div th:insert="fragments/utility::paging ('/bo/corsi/lista?titolo='+${foCorso.titolo == null?'':foCorso.titolo}+'&caAnagraficaAzienda.ragioneSociale='+${foCorso.caAnagraficaAzienda.ragioneSociale == null?'':foCorso.caAnagraficaAzienda.ragioneSociale})">...</div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog"  id="modaleConfermaElimina">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conferma elimina</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <svg class="icon">
                        <use th:href="@{/svg/sprite.svg#it-close}"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare questo elemento?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Annulla</button>
                <a id="linkModale" class="btn btn-danger btn-sm" type="button">Elimina</a>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>


<script>
    $(document).on("click", ".apriModale", function () {
        var idArma = $(this).data('id');
        $("#linkModale").attr('href', idArma);
    });

    // filtro per ricerca
    $(document).ready(function(){
        $('#buttonFiltro').click(function(){
            $('#formFiltro').toggle(400, function(){
                if(document.getElementById("buttonFiltro").innerHTML == "Mostra Filtri"){
                    document.getElementById("buttonFiltro").innerHTML = "Nascondi Filtri";
                }
                else {
                    document.getElementById("buttonFiltro").innerHTML = "Mostra Filtri";
                }
                ;
            });
        });
    });
</script>
<script th:src="@{/js/sildifesa/liste.js}" th:inline="javascript"></script>
</body>
</html>
