<!doctype html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">


</head>
<!--Script in pagina perchè non è possibile utilizzare i tag ThymeLeaf in file js esterni-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var addressAjaxComuni = /*[[@{/getComuni}]]*/ null;
    var addressAjaxAzienda = /*[[@{/getAziende}]]*/ null;
    var corso = /*[[${corso}]]*/ null;
    /*]]>*/
    $(document).ready(function () {
        $('.it-date-datepicker').datepicker({
            inputFormat: ["dd/MM/yyyy"],
            outputFormat: 'dd/MM/yyyy',
        });
    });

</script>
<script th:src="@{/js/sildifesa/insertUpdateCorso.js}" th:inline="javascript"></script>
<body>

<br>
<div class="container mb-20">
    <div id="erroreDiv" hidden>
        <div class="alert alert-danger" role="alert">
            <b id="errore"></b>
        </div>
    </div>
</div>

<div class="container mb-20">
    <div class="row">
        <div class="col-3">
            <a th:href="@{/bo/corsi/lista}" class="btn btn-primary btn-icon mb-20">
        <span class="rounded-icon">
             <svg class="icon icon-primary">
                <use th:href="@{/svg/sprite.svg#it-arrow-left-circle}"></use>
             </svg>
        </span>
                <span>Torna alla lista</span>
            </a>
        </div>
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg card-big">
                    <div class="card-body">
                        <h5 class="card-title">Modifica Corso</h5>
                        <br>
                        <form th:action="@{/bo/corsi/executeInsertUpdate}" th:object="${corso}"
                              method="post" enctype="multipart/form-data">
                            <input id="hidden" type="hidden" th:field="*{id}">
                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="titolo">Titolo Corso*</label>
                                        <input type="text" class="form-control" th:field="*{titolo}"
                                               id="titolo">
                                        <b th:if="${#fields.hasErrors('titolo')}" class="text-red"
                                           th:errors="*{titolo}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="numeroPosti">Numero Posti*</label>
                                        <input type="text" class="form-control" th:field="*{numeroPosti}"
                                               id="numeroPosti">
                                        <b th:if="${#fields.hasErrors('numeroPosti')}" class="text-red"
                                           th:errors="*{numeroPosti}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <textarea id="descrizione" th:field="*{descrizione}" rows="3"></textarea>
                                        <label for="descrizione">Descrizione corso</label>
                                        <b th:if="${#fields.hasErrors('descrizione')}" class="text-red"
                                           th:errors="*{descrizione}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <fieldset>
                                        <legend class="testo-mini">Tirocinio*</legend>
                                        <div class="form-inline">
                                            <input th:value="true" th:field="*{tirocinio}" type="radio" id="si">
                                            <label class="mr-5" for="si">&nbsp;Si</label>
                                            <input th:value="false" th:field="*{tirocinio}" type="radio" id="no">
                                            <label class="mr-5" for="no">&nbsp;No</label>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="riferimento">Referente Corso</label>
                                        <input type="text" class="form-control" th:field="*{riferimento}"
                                               id="riferimento">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="sezioneTerritorialeCoordinatrice">Sezione Territoriale
                                            Coordinatrice</label>
                                        <input type="text" class="form-control"
                                               th:field="*{sezioneTerritorialeCoordinatrice}"
                                               id="sezioneTerritorialeCoordinatrice">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="annoFinanziario">Anno Finanziario</label>
                                        <input type="text" class="form-control" th:field="*{annoFinanziario}"
                                               id="annoFinanziario">
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="dataInizio"
                                                   type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataInizio}">
                                            <label for="dataInizio">Data Inizio*</label>
                                            <b th:if="${#fields.hasErrors('dataInizio')}"
                                               class="text-red"
                                               th:errors="*{dataInizio}">
                                                Error
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="dataFine"
                                                   type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataFine}">
                                            <label for="dataFine">Data Fine*</label>
                                            <b th:if="${#fields.hasErrors('dataFine')}"
                                               class="text-red"
                                               th:errors="*{dataFine}">
                                                Error
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="durata">Durata*</label>
                                        <input type="text" class="form-control" th:field="*{durata}"
                                               id="durata">
                                        <b th:if="${#fields.hasErrors('durata')}" class="text-red"
                                           th:errors="*{durata}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="dataInizioCandidatura"
                                                   type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataInizioCandidatura}">
                                            <label for="dataInizioCandidatura">Data Inizio Candidatura*</label>
                                            <b th:if="${#fields.hasErrors('dataInizioCandidatura')}"
                                               class="text-red"
                                               th:errors="*{dataInizioCandidatura}">
                                                Error
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="it-datepicker-wrapper">
                                        <div class="form-group">
                                            <input class="form-control it-date-datepicker" id="dataFineCandidatura"
                                                   type="text"
                                                   placeholder="gg/mm/aaaa" th:field="*{dataFineCandidatura}">
                                            <label for="dataFineCandidatura">Data Fine Candidatura*</label>
                                            <b th:if="${#fields.hasErrors('dataFineCandidatura')}"
                                               class="text-red"
                                               th:errors="*{dataFineCandidatura}">
                                                Error
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label>Titolo Richiesto:</label>
                                        <select th:field="*{titoloStudioRichiesto}" id="livelloTitolo"
                                                title="Scegli una opzione"
                                                class="form-control">
                                            <option th:each="liv : ${livelloStudio}"
                                                    th:value="${liv.livello}"
                                                    th:selected="${liv.livello.toString() == corso.titoloStudioRichiesto}"
                                                    th:utext="${liv.nome}">Livello Studio
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="form-group">
                                        <textarea id="competenzeRichieste" th:field="*{competenzeRichieste}"
                                                  rows="3"></textarea>
                                        <label for="competenzeRichieste">Competenze Richieste</label>
                                        <b th:if="${#fields.hasErrors('competenzeRichieste')}" class="text-red"
                                           th:errors="*{competenzeRichieste}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <span>Carica Documento Corso</span>
                                        <input id="file" type="file" name="file">
                                        <p id="pFile" th:if="${corso.foDocumentoCorso != null}" th:text="*{foDocumentoCorso.nomeDocumentoCorsoFile}"></p>
                                        <input th:if="${corso.foDocumentoCorso != null}" id="hiddenFile" type="hidden" th:field="*{foDocumentoCorso.id}">
                                        <input id="hiddenFlag" type="hidden" name="flagFile" th:value="${flagFile}">
                                    </div>
                                </div>
                                <div class="col-1">
                                    <span data-container="body" data-toggle="popover" data-trigger="hover"
                                          data-placement="right" data-html="true" title="Elimina">
                                            <a onclick="cancellaFile()" class="nounderline apriModale" href="#"
                                               data-toggle="modal">
                                                <svg class="icon icon-danger icon-m">
                                                    <use th:href="@{/svg/sprite.svg#it-delete}"></use>
                                                </svg>
                                            </a>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <textarea id="certificazioni" th:field="*{certificazioni}" rows="3"></textarea>
                                        <label for="certificazioni">Certificazioni</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <textarea id="benefit" th:field="*{benefit}" rows="3"></textarea>
                                        <label for="benefit">Benefit</label>
                                    </div>
                                </div>

                            </div>

                            <hr>

                            <h6>Sede Corso:</h6>
                            <br>
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label>Azienda*</label>
                                        <input onblur="chiudiAzienda()" class="form-control"
                                               th:field="*{caAnagraficaAzienda.ragioneSociale}" type="text" id="azienda"
                                               onkeyup="ajaxAzienda()" autocomplete="off">
                                        <input id="aziendaId" type="hidden"
                                               th:field="*{caAnagraficaAzienda.id}">
                                        <div class="border divajax overflow-auto" hidden id="ajaxAzienda"></div>
                                        <b th:if="${errorAzienda != null}" class="text-red"
                                           th:text="${errorAzienda}">
                                            Error
                                        </b>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="emailReferente">Email referente</label>
                                        <input type="text" class="form-control" th:field="*{emailReferente}"
                                               id="emailReferente">
                                        <b th:if="${#fields.hasErrors('emailReferente')}" class="text-red"
                                           th:errors="*{emailReferente}"> Error </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="telefonoReferente">Tel. Referente</label>
                                        <input type="text" class="form-control" th:field="*{telefonoReferente}"
                                               id="telefonoReferente">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="indirizzoSede">Indirizzo Sede Corso*</label>
                                        <input type="text" class="form-control" th:field="*{indirizzoSede}"
                                               id="indirizzoSede">
                                        <b th:if="${#fields.hasErrors('indirizzoSede')}" class="text-red"
                                           th:errors="*{indirizzoSede}"> Error </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="bootstrap-select-wrapper">
                                        <label>Comune*</label>
                                        <input onblur="chiudiComune()" class="form-control"
                                               th:field="*{localitaSedeCorso.nome}" type="text" id="comune"
                                               onkeyup="ajaxComune()" autocomplete="off">
                                        <input id="comuneId" type="hidden"
                                               th:field="*{localitaSedeCorso.id}">
                                        <div class="border divajax  overflow-auto" hidden id="ajaxComune"></div>
                                        <b th:if="${#fields.hasErrors('localitaSedeCorso.id')}" class="text-red"
                                           th:errors="*{localitaSedeCorso.id}">
                                            Error
                                        </b>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="capSede">CAP Sede Corso*</label>
                                        <input type="number" th:maxlength="5" class="form-control"
                                               th:field="*{capSede}"
                                               id="capSede">
                                        <b th:if="${#fields.hasErrors('capSede')}" class="text-red"
                                           th:errors="*{capSede}"> Error </b>
                                    </div>
                                </div>
                            </div>

                            <button th:type="submit" class="btn btn-primary">Modifica</button>
                        </form>

                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


</body>
</html>
